
.App {
  background-color: lightgray;
  /* text-align: center;
  max-width: 1396px; */
  overflow-x: hidden;
}

.fade-enter{
 opacity: 0.01;
}

.fade-enter-active{
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit{
  opacity: 1;
}

.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

/*--------------start Navbar---------------*/
.nav-color{
  font: italic small-caps 16px/1 cursive;
  background: linear-gradient(180deg, #d959d5 50%, #c213bd 50%);
  -webkit-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.1); 
  box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.1);
  border-radius: 10px;
  /* color: white; */
}

.nav-link{
  color: white;
  font-size: 1px;
}

.nav-link:hover {
  background: linear-gradient(180deg, #fb6af7 50%, #ef39e9 50%);
  color: #21201f;
}

/* .ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.li {
  float: left;
}
.li .a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.li .a:hover {
  background-color: #111;
} */

.nav-header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(180deg, #d959d5 50%, #c213bd 50%);
  -webkit-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.1); 
  box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.1);
  font: italic small-caps 16px/1 cursive;
  border-radius: 10px;
  color: #ffffff;
}

.header-tab .header-tablinks {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.5s;
  /* color: white; */
  font-size: 12px;
  border-left: 1px solid #c914c3;
  
}
.no-outline:hover{
  text-decoration: none;
}

.header-tab .header-tablinks:hover {
  text-decoration: none;
  text-shadow: 0.3px 0.3px 0 #7A7A7A;
  background-color: #ffffff38;
  /* background: linear-gradient(180deg, #fb6af7 50%, #ef39e9 50%); */
  color: #21201f;
}

.header-tab .header-tablinks.active {
  background: linear-gradient(180deg, #ffffff 50%, #f2f2f2 50%);
  -webkit-box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.1); 
  box-shadow: inset 0px 0px 20px 6px rgba(0,0,0,0.1);
  color: #21201f;
  text-shadow: 0.3px 0.3px 0 #7A7A7A;
}

.header{
  top: 0;
  /* max-width: 1370px; */
  margin: 0 auto;
}

.header-img-slider{
  max-width:12%;
}

.slider-imgs {
  max-height: 100%;
  object-fit:contain;
}








/*@media screen and (max-width:1080px) {
  .header-logo-name{
    max-width: calc(100% - 380px);
    }
  .header-logo-shape{
    top: -50px;
    left: 320px;
    max-width: 125px;
    }
} */
/*--------------end Navbar---------------*/

/*--------------start Footer---------------*/
.contact-btn{
  color: white;
}
.contact-btn:hover{
  text-decoration: none;
  color: #5e8f86;
}
/*--------------end Footer---------------*/

/*--------------start Modal Login---------------*/
.login-modal .modal-content{
  background-color: #292820;
  color: rgba(255, 255, 255, 0.712);
}
.login-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #5e8f86;
  cursor: pointer;
}
.login-btn:hover {
  text-decoration: none;
  color: #cecece;
}

/* .login-btn:focus {
  all: unset;
} */



.login-btn-sign-in-up{
  border-color: #363535;
  margin-top:20px;
  margin-bottom:30px;
}
.login-btn-sign-in-up:hover{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.781);
  color: rgba(255, 255, 255, 0.781);
}
/*--------------end Modal Login-----------------*/

/*--------------start Post---------------*/

.scrolling-box{
  max-height: 151px;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.scrolling-box::-webkit-scrollbar {
  width: 0.5em;
}

.scrolling-box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrolling-box::-webkit-scrollbar-thumb {
  background-color: rgba(46, 1, 1, 0.575);
  outline: 1px solid rgb(32, 32, 32);
}

.posts-imgs{
  /* object-fit: cover; */
  /* width:10%; */
  /* height:120px; */
  width:10%;
}
.suggestions-posts-imgs{
  height:120px;
}

.post-link{
  /* color: black; */
}
.post-link:hover{
  text-decoration: none;
}
.post-loved-btn{
  all: unset;
  color: rgba(243, 9, 9, 0.829);
  cursor: pointer;
padding-left:2px;
padding-right:15px;
} 

.post-search-btn{
  all: unset;
  color: rgba(255, 255, 255, 0.952);
  cursor: pointer;
/* padding-left:2px;
padding-right:15px; */
} 

.input-place-holder::placeholder{
font-size:x-small;
color: rgba(255, 255, 255, 0.411);
}


/*---swtich button---*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #5e8f86;
}
input:focus + .slider {
  box-shadow: 0 0 1px #5e8f86;
}
input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/*---swtich button---*/

/*--------------end Post-----------------*/
/*--------------start EditPostModal-----------------*/
.edit-btn {
  position: absolute;
  top: 33px;
  right: 0;
  /* width: 30px; */
}
/*--------------end EditPostModal-----------------*/
/*--------------start EditPostModal-----------------*/
.edit-btn {
  text-decoration: none;
  color: #a0a0a0;
}

/*--------------end Comment-----------------*/
.reply-btn {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  /* font-family: arial, sans-serif; */
  font-size:small;
  /*input has OS specific font-family*/
  color: #666666;
  cursor: pointer;
}
.reply-btn:hover {
  text-decoration: none;
  color: #a0a0a0;
}
/*--------------start Manga-----------------*/
.manga-scrolling-box{
  max-height: 151reply-btnpx;
}
.manga-slider-imgs{
  max-height: 500px;
  max-width: 380px;
}
.fullpage-manga-slider-imgs{
  height: 100%;
  width: 100%;
}
.manga-img-slider{
  max-width:100%;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.manga-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-family: 'Shadows Into Light', Kimberly Geswein;
  opacity: 0.8;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  /* cursor: pointer; */
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/*--------------end Manga-----------------*/

/*--------------start ShareModal-----------------*/
.share-btn{
  all: unset;
  cursor: pointer;
/* padding-left:2px;
padding-right:15px; */
} 

.share-modal{
  width: 40vw;   /* Occupy the 90% of the screen width */
  max-width: 40vw;
} 
/*--------------end ShareModal-----------------*/

/*--------------start ShowProfile-----------------*/
.profile-img{
  max-width: 300px;
  max-height: 330px;
  border-radius: 50%;
  object-fit: contain;
} 
/*--------------end ShowProfile-----------------*/


.green-style-btn{
  border:none;
  background-color: #5e8f86;
  border-radius: 1px;
  /* margin-top: 2rem; */
}

.green-style-btn:hover{
  background-color: #3c635ccb;
}































@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* 
:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
} */
/* 
.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}*/

/* .btn:focus, */

/* .action-hover-list {
  list-style-type: none;
  padding: 0 30px;
  margin-bottom: 40px;
  opacity: 0.9;
}
.action-hover-list .action-item {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
} */

.manga-list {
  list-style-type: none;
  padding: 0 30px;
  margin-bottom: 40px;
  opacity: 0.9;
}

.manga-list .manga-item {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}
.chapter-list .chapter-item {
  display: flex;
  position: relative;
}

.manga-list .manga-item {
  display: flex;
  position: relative;
}

.manga-list .manga-item.plus {
  border-right: 5px solid #2ecc71;
}

.manga-list .manga-item.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: -4px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.delete-post-btn{
  position:relative;
}
.post-btns{
  position:relative;
}
.chapter-delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 34%;
  left: -4px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.action-item:hover .delete-btn,
.manga-list .manga-item:hover .delete-btn,
.chapter-list .chapter-item:hover .chapter-delete-btn,
.action-item:hover .edit-btn,
.manga-list .manga-item:hover .edit-btn,
.chapter-list .chapter-item:hover .chapter-edit-btn{
  opacity: 1;
}

.delete-btn:focus,
.chapter-delete-btn:focus,
.edit-btn:focus,
.chapter-edit-btn:focus {
  outline: 0;
}


.edit-btn {
  cursor: pointer;
  background-color: #44a03c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: -31px ;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.chapter-edit-btn {
  cursor: pointer;
  background-color: #44a03c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 34%;
  left: -31px ;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
